<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>COVID-2020 Live status</title>
    <meta name="description" content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, and death toll by country due to the COVID 19 coronavirus from Wuhan, China. Coronavirus counter with new cases, historical data, and info. Daily charts, graphs, news and updates">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .fa {font-size:100px;}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
</style>
</head>
<body>




<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'm' %}"><img src="https://siouxcountyradio.com/media/library11/fluid-ext-editor-widget/3335/image/COVID-20-1.jpg" width="80" height="40" class="d-inline-block align-top" alt="">
    World</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'k' %}">India</a>
      </li>
                    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About coronavirus</a>
      </li>


    </ul>

  </div>


</nav>
<br>
<div >
    <img src="https://www.who.int/images/default-source/health-topics/coronavirus/gettyimages-1181575980.tmb-1024v.jpg?Culture=en&sfvrsn=7ec493b8_22%201024w" style="width:100%;height:250px;">
</div><br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" style="position:relative;left:20%">
  symptom checker
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop1" style="position:relative;left:20%">
  Report corona suspect
</button><br>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Check your symptoms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form action="{% url 'about' %}" method='get'>
          <div class="form-group">
    <label for="exampleFormControlInput1">Enter ur age</label>
    <input type="number" name="age" class="form-control" id="exampleFormControlInput1" placeholder="30">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">have you travelled corona hit country in last 3 months</label>
    <select class="form-control" name="age1" id="exampleFormControlSelect1">
      <option>Y</option>
      <option>N</option>

    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you have fever?</label>
    <select class="form-control" name="age2" id="exampleFormControlSelect1">
      <option>Y</option>
      <option>N</option>

    </select>

  </div>
         <div class="form-group">
    <label for="exampleFormControlSelect1">Do you have cough?</label>
    <select class="form-control" name="age3" id="exampleFormControlSelect1">
      <option>Y</option>
      <option>N</option>

    </select>

  </div>
         <div class="form-group">
    <label for="exampleFormControlSelect1">Do you have sorethroat?</label>
    <select class="form-control" name="age4" id="exampleFormControlSelect1">
      <option>Y</option>
      <option>N</option>

    </select>

  </div>
         <div class="form-group">
    <label for="exampleFormControlSelect1">Do you have running nose?</label>
    <select class="form-control" name="age5" id="exampleFormControlSelect1">
      <option>Y</option>
      <option>N</option>

    </select>

  </div>
         <div class="form-group">
    <label for="exampleFormControlSelect1">Are you feeling tired?</label>
    <select class="form-control" name="age6" id="exampleFormControlSelect1">
      <option>Y</option>
      <option>N</option>

    </select>

  </div>



<button type="submit" class="btn btn-primary">know status</button>

</form>
    </div>
  </div>
</div>



<div class="modal fade" id="staticBackdrop1" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Report corona suspects(your identity will be secured)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'about' %}" method="get">{% csrf_token %}
              <div class="form-group">
                  <label for="exampleFormControlInput1">Enter your name</label>
                  <input type="text" name="age11" class="form-control" id="exampleFormControlInput1" placeholder="rahul">
              </div>
              <div class="form-group">
                      <label for="exampleFormControlInput1">Enter your mobile number</label>
                        <input type="number" name="age12" class="form-control" id="exampleFormControlInput1" placeholder="7011937825">
              </div>
              <div class="form-group">
                     <label for="exampleFormControlInput1">Enter suspect mobile number</label>
                  <input type="number" name="age13" class="form-control" id="exampleFormControlInput1" placeholder="7011937825"></div>
                              <div class="form-group">
                               <label for="exampleFormControlInput1">Enter suspect name</label>
                                  <input type="text" name="age14" class="form-control" id="exampleFormControlInput1" placeholder="prateek"></div>
              <div class="form-group">
              <label for="exampleFormControlInput1">Enter suspect address</label>
                  <input type="text" name="age15" class="form-control" id="exampleFormControlInput1" placeholder="bh-2 nsit college"></div>

        <button type="submit" class="btn btn-primary">Report</button>
          </form>
      </div>
  </div>
</div>



<div>
    <h3>{{result}}</h3>
</div>

<br>
<div class="container" class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About Corona virus
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

 Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.<br>

Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.<br>

The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.<br>

The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).<br>

At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.<br>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          symptoms of corona virus
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       The COVID-19 virus affects different people in different ways.  COVID-19 is a respiratory disease and most infected people will develop mild to moderate symptoms and recover without requiring special treatment.  People who have underlying medical conditions and those over 60 years old have a higher risk of developing severe disease and death.<br>

Common symptoms include:<br>

          <li>fever</li>
<li>tiredness</li>
<li>dry cough.</li>
Other symptoms include:

<li>shortness of breath</li>
<li>aches and pains</li>
<li>sore throat</li>
<li>and very few people will report diarrhoea, nausea or a runny nose.</li>
People with mild symptoms who are otherwise healthy should self-isolate and contact their medical provider or a COVID-19 information line for advice on testing and referral.<br>

People with fever, cough or difficulty breathing should call their doctor and seek medical attention.<br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          how to protect yourself
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        To prevent infection and to slow transmission of COVID-19, do the following:<br>

          <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
<li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
<li>Avoid touching your face.</li>
<li>Cover your mouth and nose when coughing or sneezing.</li>
<li>Stay home if you feel unwell.</li>
<li>Refrain from smoking and other activities that weaken the lungs.</li>
<li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>
      </div>
    </div>
  </div>
   </div><br>
<div class="footer">
  <p>Design and Developed by Rahul Anand</p>
    <a href="https://www.linkedin.com/in/rahul-anand-178a5b2b/"><i class="fab fa-linkedin"></i></a>
</div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1d2017b0a5.js" crossorigin="anonymous"></script>

</body>
</html>